<div class="container">
  <h1>Stupid Coaching</h1>

  <p class="m-4 p-3 border-start border-5 fw-light"><%= @query.capitalize %> <br> <em>- You</em></p>
  <p class="m-4 p-3 bg-warning bg-opacity-10 border-start border-5 fw-light"> <strong><%= @answer1 %></strong><br><em>- Your coach</em></p>

  <p class="m-4"><%= link_to "Want to ask a new question? Click here!", ask_path %></p>
</div>
